target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# local settings
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# local minecraft files
banned-ips.json
banned-players.json
eula.txt
fabric-server-mc.1.21.1-loader.0.17.2-launcher.1.1.0.jar
ops.json
server.properties
usercache.json
whitelist.json
.fabric
libraries
logs
mods
versions
world
